body {
    font-family: 'Press Start 2P', monospace;
    margin-block-start: auto;
    margin: 0;
    
  }

.burger-button{
  margin-left: 10px;
}


.global-header{
 
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(51, 77, 228);
  padding: 1px;

}

#main-p-title{
  background-color: rgb(227, 227, 227);
  border: solid, 3px;
  text-align: center;
  width: 10em;
  padding: 5px;
  font-size: small;
  margin-left: auto;
  margin-right: auto;
}

#main-speach{
  background-color: rgb(215, 215, 215);
  display: flex;
  justify-content: space-around;
  border: solid, 8px;
  margin: 10px;
}
#main-speach >  h1{
  margin-block:auto;
  padding: 2px;
  margin-inline-start: 5px;
}
#main-speach > p{
  padding: 20px;
  text-align: justify;
}

#main-figure{
  background-color: rgb(58, 58, 58);
  border: solid, 5px;
}
#main-figure > img{
  height: 10em;
  width: 10em;

}

#main-figure >figcaption{
  text-align: center;
  color: aliceblue;
  padding-block: 0;
  padding-top: 10px;
}

/* End of personal introduction*/
#academic-title{
  display: flex;
  justify-content: center;

}

#academic-title > h2{
  border: solid, 5px;
  width: 10em;
  text-align: center;
  padding: 2px;
  background-color: rgb(215, 215, 215);
}

#global-footer{
  display: flex;
  justify-content: space-between;
  background-color: rgb(92, 222, 129);
}

#navbar{
  margin-left: auto;
  margin-right: auto;
}
.nav-ul{
  display: flex;
  list-style: none;
  margin-right: auto;
  padding: 0%;
}
.nav-ul > li{
  margin-right: 1em;
}

.containers{
  border: solid 2px;
}

